id = spawnd {
    listen = { port = 49 }
    spawn = {
        instances min = 1
        instances max = 10
    }
    background = no
}

id = tac_plus {
    #debug = AUTHOR AUTHEN

    log = stdout {
        destination = ">/proc/1/fd/1"
    }
    
    log = stderr {
        destination = ">/dev/stderr"
    }
    
    log = file {
        destination = /var/log/tac_plus.log
    }

    #mavis module = external {
    #     setenv LDAP_HOSTS = "1.1.1.1:3268 1.1.1.2:3268"
    #     setenv LDAP_BASE = "dc=some,dc=org"
    #     setenv LDAP_USER = "a-lookup-user@some.org"
    #     setenv LDAP_PASSWD = "verysecret"
    #     setenv LDAP_SERVER_TYPE = "microsoft"
    #     setenv AD_GROUP_PREFIX = "tacacs"
    #     setenv USE_TLS = 1
    #     setenv REQUIRE_AD_GROUP_PREFIX = 1
    #     exec = /tacacs/lib/mavis/mavis_tacplus_ldap.pl
    #}

    login backend = mavis
    user backend = mavis

    # Seems to have problems with STDOUT, so we'll log to STDERR as well (this works fine!)
    authentication log = stderr
    authorization log = stderr
    accounting log = stderr
    
    #authentication log = stdout
    #authorization log = stdout
    #accounting log = stdout
    
    #authentication log = file
    #authorization log = file
    #accounting log = file

    include = /etc/tac_plus/tac_user.cfg
}
